body {
  padding-top: 60px;
}

/*NAVBAR*/
.navbar-default .navbar-brand {
  color: #gray;
}

.navbar-default .navbar-brand:hover {
  color: #FC8710;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FC8710;
}
.navbar-fixed-top {
  border: none;
}
/*NAVBAR*/

/*JUMBOTRON*/
.jumbotron {
  background-image: url(../img/header-background2.jpg);
  /*background-image: url(../img/header-background.jpg);*/
  background-position: 0% 33%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: auto;
  text-align: center;
}
/*JUMBOTRON*/

/*FORM AND RESULTS*/
#stregis, #altapura, #lake-tahoe, #himalayas, #maui, #gracebay, #snowybeach {
  display: none;
}

h2 {
  font-size: 25px;
}

img {
  width: 75%;
}

.btn-warning {
  background: #FC8710;
}

label {
  color: #FC8710;
}
/*FORM AND RESULTS*/

/*CONTACT PAGE*/
a {
  color: #FC8710;
}

.my-info {
  text-align: center;
}
/*CONTACT PAGE*/
